@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Vitta</h1>
    <p>Seu projeto de gerenciamento de usuários.</p>

    <hr />

    <p>Use o menu de navegação ou os links abaixo para começar:</p>
    <div>
        <a class="btn btn-primary" asp-controller="Usuario" asp-action="Index">Ver Usuários Cadastrados</a>

        <a class="btn btn-success" asp-controller="Usuario" asp-action="Create">Cadastrar Novo Usuário</a>
    </div>
</div>